<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
    
    <context-param>
        <param-name>manifest</param-name>
        <param-value>classpath:app-manifest.xml</param-value>
    </context-param>

    <listener>
        <listener-class>com.caibowen.gplume.web.WebAppBooter</listener-class>
    </listener>

    <servlet>
        <servlet-name>Gplume</servlet-name>
        <servlet-class>com.caibowen.gplume.web.GServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Gplume</servlet-name>
        <url-pattern>*.json</url-pattern>
    </servlet-mapping>

    <!--<filter>-->
        <!--<filter-name>dispatcher</filter-name>-->
        <!--<filter-class>com.caibowen.gplume.web.GFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>dispatcher</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!-- Listener
    -->

    <!-- Filter -->
    <!--
        <filter>
            <filter-name>debug</filter-name>
            <filter-class>com.caibowen.gplume.web.DebuggingFilter</filter-class>
        </filter>
        <filter-mapping>
            <filter-name>debug</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>

    -->

    <!-- Filter -->


</web-app>
