<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} \r\n%msg%n</Pattern>
        </layout>
    </appender>

    <appender name="prmaAppender" class="com.caibowen.prma.logger.logback.DBAppender">
        <param name="configFile" value="classpath:store_assemble.xml"/>
    </appender>

    <logger name="console-logger" level="TRACE" additivity="true">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="prmaLogger" level="TRACE" additivity="true">
        <appender-ref ref="prmaAppender"/>
    </logger>


    <root level="INFO">
        <!--<appender-ref ref="STDOUT"/>-->
        <appender-ref ref="prmaAppender"/>
    </root>

    <!--<logger name="db-logger" level="TRACE" additivity="true">-->
    <!--<appender-ref ref="DB"/>-->
    <!--</logger>-->


    <!--<appender name="test" class="test.MyDummyLogger">-->
    <!--<dataSource class="test.TestDS">-->
    <!--<serverName>serverName}</serverName>-->
    <!--<databaseName>databaseName}</databaseName>-->
    <!--</dataSource>-->
    <!--</appender>-->

    <!--<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">-->
    <!--&lt;!&ndash;<param name="fuckParam" value="fuckParam value" />&ndash;&gt;-->
    <!--<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">-->
    <!--<driverClass>com.mysql.jdbc.Driver</driverClass>-->
    <!--<url>jdbc:mysql://localhost:3306/c1_parknshop</url>-->
    <!--<user>bitranger</user>-->
    <!--<password>123456</password>-->
    <!--</connectionSource>-->
    <!--</appender>-->

    <!--<bean id="dataSource"-->
    <!--class="org.apache.commons.dbcp.BasicDataSource">-->
    <!--<property name="url"-->
    <!--value="jdbc:mysql://localhost:3306/c1_parknshop" />-->
    <!--<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>-->
    <!--<property name="username" value="bitranger"></property>-->
    <!--<property name="password" value="123456"></property>-->
    <!--</bean>-->


</configuration>